@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anton";
  font-display: swap;
  src: url(/public/fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: "ArefB";
  font-display: swap;
  src: url(/public/fonts/ArefRuqaaInk-Bold.ttf);
}
@font-face {
  font-family: "Aeonik";
  font-display: swap;
  src: url(/public/fonts/AeonikTRIAL-Regular.otf);
}

.lines {
  overflow-y: hidden;
  will-change: transform, opacity;
}

.char {
  overflow-y: hidden;
  will-change: transform, opacity;
}

.word {
  overflow-y: hidden;
  will-change: transform, opacity;
}
