---
import Link from "../components/Link.astro";
import info from "../data/info.json";
const { prevPage = "", nextPage = "" } = Astro.props;
---

<footer
  class="container mx-auto font-subhead border-t border-primary-900 pt-2 flex justify-between items-center"
>
  <div class="flex text-xs uppercase">
    {info.name} , 2025 © All Rights Reserved
  </div>

  <div class="flex justify-end items-center gap-2">
    {prevPage && <Link href={prevPage}>[ Back ]</Link>}
    {
      nextPage && (
        <Link href={nextPage}>
          {nextPage === "/" || nextPage === "index"
            ? "[ Move to Index ]"
            : "[ Next Page ]"}
        </Link>
      )
    }
  </div>
</footer>
